.introduction-container {
    background-color: #f8f8f8;
    width: 100%;
    height: 600px;
}
h3 {
    font-size: 30px;
    font-display: bold;
    margin-top: 50px;
    padding: 25px 0px;
}

b {
    color: #EB4947
}
#paragraph{
    text-align: center;
    padding : 0px 300px;

}