.card {
    margin: 0px;
    padding: 24px 0px;
    display: inline-block;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

  }
  
  .img-container {
    padding: 2px 16px;
  }


  .red-card {
    margin: 0px;
    padding: 24px 0px;
    display: inline-block;
    background-color: #EB4947
  }

  

